{
    "presets": [[
      "@babel/preset-env", {
        "targets": {
          "node": "current"
        }
      }
    ]],
    "plugins": ["inline-dotenv"],
    "ignore": ["**/*.test.js", "**/*.spec.js"]
}
