body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: red;
  background-image: url("/images/devops.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #00B7FF;
}
